body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

canvas {
    width: 100vw; /* 100% of viewport width */
    height: 100vh; /* 100% of viewport height */
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
